* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wrapper {
  margin: 1rem 2rem;
  width: 90%;
}

.bayan {
  padding: 0 1rem;
}

.bayan__heading {
  font-weight: 700;
  font-size: 2em;
}

.bayan__memes {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.memes__meme {
  border-top: firebrick 0.05em dashed;
  padding: 0.5em 0;
}

.meme__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5em;
  align-items: center;
}

.meme__heading {
  font-size: 1em;
  font-weight: 600;
  color: firebrick;
}

label {
  display: flex;
  flex-wrap: wrap;
}

.meme__open {
  background: url("/assets/img/plus.png") no-repeat center / contain;
  width: 1em;
  height: 1em;
  padding-right: 0.5em;
  transition: all 0.5s ease-in;
}

.meme__image {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  visibility: hidden;
  height: 0;
}

input {
  display: none;
}

input:checked ~ label .meme__open {
  background: url("/assets/img/close.png") no-repeat center / contain;
  transition: all 0.5s ease-in;
}

input:checked ~ label .meme__heading {
  color: black;
}

input:checked ~ label .meme__image {
  visibility: visible;
  height: 100%;
  padding: 1em 0;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .memes__meme {
    padding: 1.5em 0;
  }

  .bayan__heading {
    font-size: 3em;
  }

  .meme__heading {
    font-size: 1.5em;
  }

  .meme__image {
    max-width: 50%;
  }
}

@media (min-width: 1440px) {
  .memes__meme {
    padding: 2em 0;
  }

  .bayan__heading {
    font-size: 4em;
  }

  .meme__heading {
    font-size: 2em;
  }

  .meme__image {
    max-width: 40%;
  }
}

@media (hover: hover) {
  label {
    cursor: pointer;
  }

  .meme:hover .meme__image {
    visibility: visible;
    height: 100%;
    transition: all 0.5s ease-in-out;
    padding: 1em 0;
  }

  .memes:hover label .meme__heading {
    color: black;
  }

  .meme__open {
    visibility: hidden;
  }

  .memes:hover .meme__open {
    visibility: visible;
  }
}

.memes__meme:active label .meme__heading {
  color: firebrick;
}

.memes__meme:active label .meme__image {
  opacity: 0.5;
}
